.avatar
{
    vertical-align: middle;
    width: 40px ;
    height: 80px ;
    border-radius: 50%;
    border-width: 5px;
    border-color: aqua;
    border-style: outset;
    padding-right: 5px !important;
    padding-left: 5px !important;
}


.Link1
{
    margin-left: 1px ;
}

.Link2
{
    margin-left: 20px ;
}

.Navbar
{
    position: fixed;
    top: 0;
    width: 100%;
}

.Greeting
{
    margin-top: 6px !important;
}