@tailwind base;
@tailwind components;
@tailwind utilities;

/*? Global */
* {
  box-sizing: border-box;
  text-decoration: none !important;
  padding: 0%;
  margin: 0%;
}

body{
  min-height: 100.06vh;
  min-height: 100.6vh;
}

/*? Custom Scroll Bar */
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  background-color: #212529;
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(109, 40, 217, 0.5);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-corner, body::-webkit-scrollbar-track {
  background-color: transparent;
}

.Toastify__toast-container {
  min-width: 25vw;
}

.vertCtr
{
    display: flex;
    align-items: center;
    height: 45px;
}

.InputBox:focus{
    border-color: var(--green);
}